<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466179368321-f2n9lp3or6ero5jl9ptnu702vc5h01gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466179368321-f2n9lp3or6ero5jl9ptnu702vc5h01gq</string>
	<key>API_KEY</key>
	<string>AIzaSyDs1RHDcnRNhTMD1uahtF0SBbZLSOhiRwE</string>
	<key>GCM_SENDER_ID</key>
	<string>466179368321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talio.travelapp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-1582808009557</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-1582808009557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466179368321:ios:7a5d3e16273db8fb43f480</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-1582808009557.firebaseio.com</string>
</dict>
</plist>